---
layout: default
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container-fluid">
  <div class="row">
    {% if site.sidebar == false %}
    <!-- NO SIDEBAR -->
    <!-- PostList Container -->

    <div class="col-lg-12 postlist-container">
      <div class="blog-grid">
        {% for post in paginator.posts %}
        <div class="blog-grid-item">
          <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.header-img %}
            <div class="blog-grid-image">
              <img src="{{ post.header-img | absolute_url }}" alt="{{ post.title }}" />
            </div>
            {% endif %}
            <div class="blog-grid-content">
              <h3 class="blog-grid-title">{{ post.title }}</h3>
              <div class="blog-grid-tags">
                {% for tag in post.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% if paginator.total_pages > 1 %}
    <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}



    <!-- Sidebar Container -->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
      sidebar-container">
      <!-- Featured Tags -->
      {% include featured-tags.html %}

      <!-- Friends Blog -->
      <!-- {% include friends.html %} -->
    </div>
    {% else %}

    <!-- USE SIDEBAR -->
    <!-- PostList Container -->
    <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12
      col-xs-12 postlist-container">
      {{ content }}
    </div>
    <!-- Sidebar Container -->
    <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12
      col-xs-12 sidebar-container">
      <!-- Featured Tags -->
      {% include featured-tags.html %}

      <!-- Short About -->
      {% include short-about.html %}

      <!-- Friends Blog -->
      <!-- {% include friends.html %} -->

      <!-- Ads -->
      {% include ads.html %}
    </div>
    {% endif %}
  </div>
</div>

{% if site.page-mathjax %}
<!-- Add support for Mathjax by Voleking-->
<!-- If you want to see formulars well in post preview, Maybe you should add this.-->
<!-- However, most of the time formulars may not appear in the post preview, you can delete it.-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    }
  });
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}